# Logs
logs/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Laporan Diagnostik (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Data Runtime
pids/*.pid
*.seed
*.pid.lock

# Direktori untuk lib terinstrumentasi yang dihasilkan oleh jscoverage/JSCover
lib-cov

# Direktori cakupan yang digunakan oleh tools seperti istanbul coverage
.nyc_output

# Penyimpanan sementara Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Direktori dependensi Bower (https://bower.io/)
bower_components

# Konfigurasi node-waf
.lock-wscript

# Add-on biner yang dikompilasi (https://nodejs.org/api/addons.html)
build/Release

# Direktori dependensi
node_modules/
jspm_packages/

# File deklarasi TypeScript v1
typings/

# Cache TypeScript
*.tsbuildinfo

# Direktori cache npm opsional
.npm

# Cache eslint opsional
.eslintcache

# Cache microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Riwayat REPL opsional
.node_repl_history

# Output 'npm pack'
*.tgz

# File Integritas Yarn
.yarn-integrity

# File variabel lingkungan dotenv
#.env
#.env.test

# Cache bundler parcel (https://parceljs.org/)
.cache

# Output build Next.js
.next

# Output generate / build Nuxt.js
.nuxt

# File cache Gatsby
.cache/

# Direktori serverless
.serverless/

# Cache FuseBox
.fusebox/

# File DynamoDB Local
.dynamodb/

# File port TernJS
.tern-port.

# Output 'npm pack'
*.tgz
